.h1, h2, h3, h4, h5, h6, p, a, span, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    transition: all ease-in-out 0.3s;
}

:root {
    --primary-blue: #01208E;
    --secondary-orange: #FE7400;
    --light-orange: #FD8D2f;
    --primary-gray: #717070;
    --primary-white: #FFFFFF;

    --primary-font: "Rubik", sans-serif;
    --heading-font: "Yeseva One", serif;
    --robboto-font:  "Roboto", sans-serif;
}

body {
    font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

/* Navbar css start */
.top-nav {
    background-color: var(--primary-blue);
    color: var(--primary-white); 
     --primary-font: "Rubik", sans-serif;
    
}

.wellcome-text {
    font-size: 14px;
     font-weight: 500;
}
.top-nav a {
    color: var(--primary-white);
    text-decoration: none;
    background-color: var(--light-orange);
    font-weight: 400;
    font-size: 14px;
}

.top-nav a:hover{
    background-color: var(--secondary-orange);
}
.topbar-contact {
    
}

.top-nav a {
    color: var(--primary-white);
}

/* Navbar css end */

.img-fluid{
    margin-left: 30px;
}

.nav-link{
     font-family: var(--primary-font);
     font-weight: 400;
     font-size: 14px;
     margin: 0 8px;
}
.nav-link:hover{
    color: var(--secondary-orange)!important;
}
.btn-apply{
    padding:  10px 20px;
    color: #6C3200;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--primary-font);
    background: linear-gradient(98.85deg, #FF8117 3.23%, #FFB06D 98.88%);
    border-radius: 5px;
    margin:  auto 0;
    
}
.btn-apply:hover{
   box-shadow: 0px 14px 24px 0px #00000030;
   color:var(--primary-white)
}


/* Banner section css start */
#banner {
    background: url('../Asset/bannear-Image-2.png');
      background-position: center;
      background-size: cover;
     background-repeat: no-repeat;
      position: relative;
    
}

#banner .container{
   
}

.banner-content{
    padding: 100px 0 150px;
  
}
.banner-content h1{
    color: var(--primary-white);
    font-size:60px;
    font-weight: 400;
    font-family: var(--primary-font);
    padding: 0 20%;
    --webkit-text-shadow: 5px 2px 4px 0px #00000066;
}
.banner-content p {
    color: var(--primary-white);
    font-size: 26px;
    font-weight: 400;
    margin: 20px 0;
    font-family: var(--primary-font);
}

.banner-box{
    background-color: #FFFFFF;
    border: 1px solid  #D8D8D8;
    box-shadow: 0px 24px 84px 0px #0000001A;
    backdrop-filter: blur(94px);
    border-radius: 8px;
    padding: 40px 40px;
    position: absolute;
    bottom: 0;
    /* width: 80%; */
    left: 50%;
    transform: translate(-50% ,50%);
   
    
}

.banner-box h3{
    font-size: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-blue);
    margin: 5px 0;
    
}
.banner-box p {
    font-size: 12px;
    font-weight: 400;
    color: var(--primary-gray);
   
}

.call-btn{
     padding:  15px 30px;
    color: #6C3200;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--primary-font);
    background: linear-gradient(98.85deg, #FF8117 3.23%, #FFB06D 98.88%);
    border-radius: 5px;
    margin:  auto 0;
}
.call-btn:hover{
   box-shadow: 0px 14px 24px 0px #00000030;
   color:var(--primary-white)
}
/* Banner section css end */

/* Service part css start */
#Service {
    margin-top: 100px;

}
.heading{
    font-size: 36px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--primary-blue);
    text-align: center;
    margin-bottom: 60px;
}
.heading span {
    font-family: var(--robboto-font);
    font-weight: 400;
    font-size: 26px;
    color: var(--light-orange);
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 50px;
}
.ser-icon-1{
    background: linear-gradient(180deg, rgba(255, 176, 109, 0.9) 0%, rgba(192, 6, 6, 0.9) 100%);
    border-radius: 50%;
    height: 70px;
    width: 70px;
     border: 1px solid #FF8C2C;
     backdrop-filter: blur(84px);
    box-shadow: 0px 24px 44px 0px #FF5C004A;
}
.ser-icon-2{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    backdrop-filter: blur(84px);
    box-shadow: 0px 24px 44px 0px #0038FF4A;
    border: 1px solid #9CB2FF;
    background: linear-gradient(180deg, rgba(0, 240, 255, 0.9) 0%, rgba(0, 56, 255, 0.9) 100%);     
}

.ser-icon-3{  
    border-radius: 50%;
    height: 70px;
    width: 70px;backdrop-filter: blur(84px);
    box-shadow: 0px 24px 44px 0px #46FF424A;
    border: 1px solid #02A460;
    background: linear-gradient(180deg, rgba(0, 197, 114, 0.9) 0%, rgba(0, 66, 3, 0.9) 100%);
}
.ser-icon-4{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    backdrop-filter: blur(84px);
    box-shadow: 0px 24px 44px 0px #FA00FF4A;
    border: 1px solid #E85AFF;
    background: linear-gradient(180deg, rgba(213, 123, 255, 0.9) 0%, rgba(105, 0, 154, 0.9) 100%);


}
.ser-icon-5{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    backdrop-filter: blur(84px);
    box-shadow: 0px 24px 44px 0px #FF005C4A;
    border: 1px solid #FF4F4F;
    background: linear-gradient(180deg, rgba(249, 24, 24, 0.9) 0%, rgba(106, 5, 5, 0.9) 100%);


}
.ser-icon-6{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    backdrop-filter: blur(84px);
    box-shadow: 0px 24px 44px 0px #3A3A394A;
    border: 1px solid #757575;
    background: linear-gradient(180deg, rgba(114, 114, 114, 0.9) 0%, rgba(4, 4, 4, 0.9) 100%);


}


.serv-content h5{
    font-size: 20px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--primary-blue);
}
.serv-content p {
    font-size: 14px;
    font-weight: 300;
    font-family: var(--primary-font);
    color: var(--primary-gray);
}
.service-main{
    box-shadow: 0px 24px 34px 0px #0000000A;
    backdrop-filter: blur(74px);
    border: 1px solid #E5E4E4;
    border-radius: 5px;
    padding: 10px 15px;
    

}
/* Service part css endd */

/* Wellcome Content start */
#wellcome{
    background-color: #EFF3FF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wellcome-content h6{
    color: var(--light-orange);
    font-family: var(--robboto-font);
    font-size: 26px;
    font-weight: 400;
}
.wellcome-content h4{
    color: var(--primary-blue);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 36px;
}
.wellcome-content h5{
    color: #444444;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 30px;
}
.wellcome-content p {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
}
/* Wellcome Content end */

/* Study card start */
    .study-card{
        border: none !important;
        background-color: #F9F9F9 !important;
        margin: 0 auto !important;

    }
    .study-card:hover{
        box-shadow: 0px 24px 34px 0px #0000000D;
        background-color: #F9F9F9 ;
    }
    .study-card h5{
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 20px;
        color: var(--primary-blue);
    }
    .study-card p{
        font-family: var(--primary-font);
        font-weight: 300;
        font-size: 16px;
        color: var(--primary-gray);
    }

    .study-card h6{
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        color: #FE7400;
    }
    
    .study-card h6 {

    }
/* Study card end */





























/* 
.h1, h2, h3, h4, h5, h6, p, a, span,ul,li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --primary-blue: #01208E;
    --secondary-orange: #FE7400;
    --light-orange: #FD8D2f;
    --primary-gray: #717070;
    --primary-white: #FFFFFF;

     font-family: "Rubik", sans-serif;
      font-family: "Yeseva One", serif;
    
}
body {
    font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}




.top-nav{
    background-color: var(--primary-blue);
    color: var(--primary-white); 
}

.topbar-contact{
    
    background-color: var(--light-orange);
}
.top-nav a {
    color: var(--primary-white);
   
} */

/* Navbar css end */